.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    #d7e6ef,
    #c8e6ea
  );
}

.login-card {
  width: 550px;

  background: white;

  padding: 50px;

  border-radius: 25px;

  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.login-card h1 {
  text-align: center;
  font-size: 36px;

  margin-bottom: 10px;
}

.sub-title {
  text-align: center;
  color: #777;

  margin-bottom: 40px;
}

.input-group {
  margin-bottom: 22px;
}

.input-group label {
  display: block;

  margin-bottom: 8px;

  font-weight: 600;
  color: #444;
}

.input-group input {
  width: 100%;

  padding: 14px;

  border: 1px solid #ddd;
  border-radius: 12px;

  font-size: 16px;

  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;

  border-color: #4fa9ea;

  box-shadow: 0 0 8px rgba(79, 169, 234, 0.25);
}

.jobseeker-login-btn {
  width: 100%;

  padding: 18px;

  border: none;
  border-radius: 16px;

  font-size: 22px;
  font-weight: bold;

  color: white;

  cursor: pointer;

  background: linear-gradient(
    90deg,
    #5a9cea,
    #4fb3e8
  );

  transition: 0.2s;
}

.jobseeker-login-btn:hover {
  transform: translateY(-2px);
}

.back-btn {
  width: 100%;

  margin-top: 15px;

  border: none;
  background: none;

  color: #666;

  font-size: 15px;

  cursor: pointer;
}

.back-btn:hover {
  color: #000;
}
